#nav{
    height: 50px;
    background-color: black;
    color: white;
}

a{
    color: white;
}


#Welcome{
    text-align: center;
}

#Consult{
    text-align: center;
}
#virtual{
    text-align: center;
}
#events{
    text-align: center;
}